<h2>{{ project?.title }}</h2>
<p>{{ project?.description }}</p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Backlog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
  </ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h2>Liste des issues</h2><br>
            <a class="btn btn-success" data-toggle="collapse" href="#multiCollapseExample1" role="button"
            aria-expanded="false" aria-controls="multiCollapseExample1">Nouvelle Issue</a>
        
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                <div class="col-md-5">
                    <fieldset>
                        <form #newIssue="ngForm" (ngSubmit)="newIssue.valid && onSubmit(newIssue)">
                            <div class="form-group">
                                <label for="title">Description</label>
                                <input type="email" class="form-control" name="description" id="description" rows="3" [(ngModel)]="model.description">
                            </div>
                            <div class="form-group">
                                <label for="description">Priorité</label>
                                <textarea class="form-control" id="priorite" name="priorite" [(ngModel)]="model.priorite"></textarea>
                            </div>
                            <div class="form-group">
                                    <label for="description">Difficulté</label>
                                    <textarea class="form-control" id="difficulte" name="difficulte" [(ngModel)]="model.difficulte"></textarea>
                            </div>
                            <div class="form-group">
                                    <label for="description">Statut</label>
                                    <textarea class="form-control" id="status" name="status" [(ngModel)]="model.status"></textarea>
                            </div>
                            <button type="submit" click class="btn btn-success">Ajouter</button>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead class="thead">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Description</th>
                    <th scope="col">Priorité </th>
                    <th scope="col">Coût </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let issue of project?.issues">
                    <td>Issue <i>{{issue?._id}}</i></td>
                    <td>{{issue?.description}}</td>
                    <td>{{issue?.priorite}}</td>
                    <td>{{issue?.difficulte}}</td>

                    <td>
                        <button type="button" class="btn btn-info"><i class="fa fa-edit"></i></button>&nbsp;
                        <button type="button" (click)="removeIssue(issue._id)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>

                
            </tbody>

        </table>

    </div>
    <div id="tasks" class="tab-pane fade">
        <h3>Liste des tâches</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <div id="tests" class="tab-pane fade">
        <h3>Liste des tests</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.</p>
    </div>
    <div id="sprints" class="tab-pane fade">
        <h3>Liste des sprints</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="releases" class="tab-pane fade">
            <h3>Liste des releases</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="documentations" class="tab-pane fade">
            <h3>Liste des documentations</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>

</div>